<?php

$EMAIL_FROM = "your@email.adress";
$EMAIL_SUBJECT = "ICPC secureEHR";
$EMAIL_GREETINGS = "Kind Regards,\nICPC secureEHR\n";

define("DB_HOST", "localhost");
define("DB_NAME", 0);
define("DB_USER", 1);
define("DB_PASSWORD", 2);

define("DBASES", array(
    "praxis1" => array("<dbase_name>", "<dbase_user>", "<dbase_password>"),
));

?>

