<html>
<head>
    <title>ICPC-3 secureEHR Portal</title>
    <meta charset="utf-8">
    <meta name="description" content="ICPC-3 EHR Patient Portal" />
    <meta name="author" content="Egbert van der Haring" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="images/logo-192.png" />
    <link rel="stylesheet" href="styles/mobile.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico">
	<link rel="manifest" href="icpc_emr.webmanifest">
</head>

<body>
<div class="mainPage">
    <div id="mainHeader" class="header">
        <h1>ICPC-3 secureEHR Portal</h1>
        <button id="installAsApp">Install</button>
    </div>

